apiVersion: v1
kind: ConfigMap
metadata:
  name: dhcpd-config
  namespace: {{ dhcp_namespace }}
data:
  dhcpd.conf: |
    ddns-update-style none;
    default-lease-time 600;
    max-lease-time 7200;
    authoritative;

    subnet 172.17.0.0 netmask 255.255.0.0 {
      range 172.17.10.100 172.17.10.200;
      option routers 172.17.0.1;
      option domain-name-servers 8.8.8.8, 8.8.4.4;
    }
