apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: dhcp-server
  namespace: "{{ dhcp_namespace }}"
  labels:
    app: dhcp-server
spec:
  selector:
    matchLabels:
      app: dhcp-server
  template:
    metadata:
      labels:
        app: dhcp-server
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      tolerations:
      - operator: "Exists"
      initContainers:
      - name: init-leases
        image: busybox:1.36
        command: ["sh","-c","touch /data/dhcpd.leases && chmod 644 /data/dhcpd.leases"]
        volumeMounts:
        - name: dhcp-data
          mountPath: /data
      containers:
      - name: isc-dhcp
        image: "{{ dhcp_image }}"
        args:
          - "{{ dhcp_interface }}"
        securityContext:
          privileged: true
        env:
        - name: INTERFACES
          value: "{{ dhcp_interface }}"
        ports:
        - containerPort: 67
          hostPort: 67
          protocol: UDP
        volumeMounts:
        - name: dhcp-data
          mountPath: /data
        - name: dhcp-config
          mountPath: /data/dhcpd.conf
          subPath: dhcpd.conf
      volumes:
      - name: dhcp-data
        emptyDir: {}
      - name: dhcp-config
        configMap:
          name: dhcpd-config
